*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
}
html{
    background-color: darkgray;
    display: flex;
    justify-content: center;
}
.container {
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}

.heading-app {
    width: 100%;
    margin-bottom: 12px;
}
.app{
    
}

table {
    border-collapse: collapse;
}

td {
    text-align: center;
    width: 50px;
    height: 50px;
    border: 1px solid aqua;
}
td:hover{
    background-color: aqua;
    opacity: 0.5;
    cursor: pointer;
}

.func{
    padding-left: 24px;
}
#btn-play-again {
    font-size: 20px;
    padding: 6px 8px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}